<!DOCTYPE html>
<html>
    <head>
        <title>CSS3 Perspective Playground</title>
<link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
<div id="app">
    <h2>Perspective Playground</h2>
    <main>
        <section clas="settings">
            <div class="settings-container">
                <label>perspective: {{ perspective }}px;</label>
                <input type="range" min="0" max="999" v-model="perspective">
            
                <label>rotateX: {{ rotateX }}deg</label>
                <input type="range" min="-180" max="180" v-model="rotateX">
            
                <label>rotateY: {[ rotateY]}deg</label>
                <input type="range" min="-180" max="180" v-model="rotateY">
            
                <label>rotateZ: {{ rotateZ }}deg</label>
                <input type="range" min="-180" max="180" v-model="rotateZ">
            
                <button type="button" @click.prevent="reset" >Reset</button>
                <button type="button" @click.prevent="copy">Copy</button>
            </div>
        </section>
        <section>
        </section class="output">
        <div class="box-container">
                <div class="box" :style="box"></div>
        </div>
        </section>
    </main>
    </div>
    <css-doodle>
        :doodle {
            @grid: 1x3 / 100vmax;
            position: absolute;
            top: 0; left:0;
            z-inde:0;
        }
    </css-doodle>
    

        <script src="https://unpkg.com/css-doodle@0.19.2/css-doodle.min.js"></script>
        <script src="https://unpkg/vue@next"></script>
        <script href="main.js"></script>
    </body>
</html>